@import "tailwindcss";
.quarter-circles::before{
  content: "";
  position: absolute;
  top: 128px;
  width: 50px;
  height: 30px;
  background-color: #f59e0b; /* Amber */
}
.quarter-circles::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  background-color: #f59e0b; /* Amber */
}

.quarter-circles::before {
  left: 0;
  border-radius: 0 0% 100% 0;
}

.quarter-circles::after {
  right: -50px;
  border-radius: 00% 00% 100% 00%;
}
